[submodule "pelicanthemes-generator"]
	path = pelicanthemes-generator
	url = https://github.com/badele/pelicanthemes-generator.git
[submodule "Flex"]
	path = Flex
	url = https://github.com/neiljdo/Flex.git
[submodule "clean-blog"]
	path = clean-blog
	url = https://github.com/gilsondev/pelican-clean-blog.git
